.banner {
  position: relative;

  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.banner .left {
  background-color: var(--main-theme-color);
  min-height: 100vh;
}

.banner .right {
  min-height: 100vh;
}
.intro {
  margin: auto auto;
  max-width: 70%;
  margin-top: 20%;
}

/* PROJECT SECTION */
.project {
  background-color: transparent;
}

/* ABOUT SECTION */
.about {
  background-color: transparent;
}

.aboutContainerL {
  background-color: transparent;
}

.aboutContainerR {
  background-color: lightcyan;
}
