.projectBanner {
  min-height: 60vh;
  /* background-color: red; */
  /* border: 1px black solid; */
  background: url("../img/bench1.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  background-color: red;
}
