:root {
  --main-txt-color: #333333;
  --main-theme-color: #a01f38;
  --sub-theme-color: #e26981;
  --bench-theme-color: #abb7b7;
  --bench-txt-color: #88b4b4;
  --trainz-theme-color: #b7adab;
}

html {
  font-size: 1rem;
}

@font-face {
  font-family: "Montserrat";
  src: url("WebFont.eot");
  src: url("WebFont.eot?#iefix") format("embedded-opentype"),
    url("WebFont.woff") format("woff"), url("WebFont.ttf") format("truetype"),
    url("WebFont.svg#webfont") format("svg");
}

body {
  font-family: "Montserrat", sans-serif;

  color: var(--main-txt-color);
  padding-bottom: 20rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.sectionTitle {
  font-size: 3.5rem;

  margin-bottom: 5rem;

  border-bottom: 1px gray solid;
}

.section {
  padding: 5rem 0 0 0;
  min-height: 100vh;
}

.subSectionHeading {
  color: var(--sub-theme-color);
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}

/* section {
  min-height: 100vh;
} */
