.projectBanner {
  min-height: 55vh;
  background-image: url("../img/card3.jpg");
  /* background: url("../img/bench_1.gif"); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  padding-bottom: 0%;
  margin-bottom: 0%;
}

.project-title {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.filled-content {
  margin-top: 3rem;
}

.myAuto {
  margin-top: auto;
  margin-bottom: auto;
}
