.projectBanner {
  min-height: 55vh;

  background: url("../img/bench_1.gif");

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0%;
  margin-bottom: 0%;
  border-bottom: 2px var(--bench-theme-color) solid;
}

.subSectionHeading {
  color: var(--bench-txt-color);
  font-weight: 900;
}
