.projectBanner {
  min-height: 50vh;
  /* background-color: red; */
  /* border: 1px black solid; */
  background: url("../img/project_2/proposal_1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  padding-bottom: 0%;
  margin-bottom: 0%;
  border-bottom: 2px var(--trainz-theme-color) solid;
}

/* .project-title {
  padding-bottom: 20vh;
}

.filled-content {
  margin-top: 3rem;
} */

.subSectionHeading {
  color: var(--trainz-txt-color);
  font-weight: 900;
}
